<div class="toolbar">
  <div class="content-toolbar">

    <span routerLink="/" class="branding br-desktop">
      <img alt="logo design-quantum" src="../../../../assets/icons/wolox.svg" />
    </span>

    <a class="icon-menu-movil" (click)="openedMenuResposive = !openedMenuResposive">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>

    <div class="spacer"></div>

    <a class="item-option" [routerLink]="['']" fragment="top">
      <span>{{'account.Homepage' | translate}}</span>
    </a>

    <a class="item-option" [routerLink]="['']" fragment="benefits">
      <span>{{'account.Benefits ' | translate}}</span>
    </a>

    <a class="item-option sign-in-button sign-in" *ngIf="loggedIn$ | async" (click)="signup()">
      <span>{{'account.Signup' | translate}}</span>
    </a>

    <button *ngIf="loggedIn$ | async" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu" style="margin-left: auto;">
      <fa-icon [icon]="faUserCircle">{{profile$ | async}}</fa-icon>
    </button>
    <mat-menu #toolbarUserMenu="matMenu">
      <button mat-menu-item (click)="onChangeLanguaje('en')">
        <span>{{'account.English' | translate}}</span>
      </button>
      <button mat-menu-item (click)="onChangeLanguaje('es')">
        <span>{{'account.Spanish' | translate}}</span>
      </button>
    </mat-menu>

  </div>

  <div class="options-menu-responsive" [ngStyle]="{'display': openedMenuResposive == true ? 'flex':'none'}">
    <a class="item-m-r" [routerLink]="['']" fragment="top">{{'account.Homepage' | translate}}</a>
    <a class="item-m-r" [routerLink]="['']" fragment="benefits">{{'account.Benefits' | translate}}</a>
    <a class="item-m-r" *ngIf="!(loggedIn$ | async)" (click)="signup()">{{'account.Signup' | translate}}</a>
    <div *ngIf="loggedIn$ | async">
      <a class="item-m-r" (click)="onLoggedout()">{{'account.LogOut' | translate}}</a>
    </div>
  </div>
</div>