<div class="toolbar">
  <div class="content-toolbar">

    <span routerLink="/" class="branding br-desktop">
      <img alt="logo design-quantum" src="../../../../assets/logo_full_color.svg" />
    </span>

    <a class="icon-menu-movil" (click)="openedMenuResposive = !openedMenuResposive">
      <fa-icon [icon]="faBars"></fa-icon>
    </a>

    <div class="spacer"></div>

    <a class="item-option" [routerLink]="['']" fragment="top">
      <span>{{'general.Homepage' | translate}}</span>
    </a>

    <a class="item-option" [routerLink]="['']" fragment="benefits">
      <span>{{'general.Benefits' | translate}}</span>
    </a>

    <a class="item-option sign-in-button sign-in" *ngIf="!(isLoggedIn$ | async)" (click)="signup()">
      <span>{{'general.Signup' | translate}}</span>
    </a>

    <button mat-icon-button [matMenuTriggerFor]="toolbarLanguajeMenu" style="margin-left: auto;">
      <fa-icon [icon]="faLanguage"></fa-icon>
    </button>
    <mat-menu #toolbarLanguajeMenu="matMenu">
      <button mat-menu-item (click)="onChangeLanguaje('en')">
        <span>{{'general.English' | translate}}</span>
      </button>
      <button mat-menu-item (click)="onChangeLanguaje('es')">
        <span>{{'general.Spanish' | translate}}</span>
      </button>
    </mat-menu>

    <button mat-icon-button *ngIf="(isLoggedIn$ | async) === true" [matMenuTriggerFor]="toolbarUserMenu" style="margin-left: auto;">
      <fa-icon [icon]="faUserCircle"></fa-icon>
    </button>
    <mat-menu #toolbarUserMenu="matMenu">
      <button mat-menu-item (click)="onLoggedout()">
        <span>{{'general.LogOut' | translate}}</span>
      </button>
    </mat-menu>

  </div>

  <div class="options-menu-responsive" [ngStyle]="{'display': openedMenuResposive == true ? 'flex':'none'}">
    <a class="item-m-r" [routerLink]="['']" fragment="top">{{'general.Homepage' | translate}}</a>
    <a class="item-m-r" [routerLink]="['']" fragment="benefits">{{'general.Benefits' | translate}}</a>
    <a class="item-m-r" *ngIf="!(isLoggedIn$ | async)" (click)="signup()">{{'general.Signup' | translate}}</a>
    <div *ngIf="isLoggedIn$ | async">
      <a class="item-m-r" (click)="onLoggedout()">{{'general.LogOut' | translate}}</a>
    </div>
  </div>
</div>