<div class="container-signup" [@routerTransition]>
  <div class="wrapper-signup">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <div class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>{{'account.Name' | translate}}</mat-label>
          <input matInput formControlName="firstName" type="text" required>
          <mat-error *ngIf="signupForm.get('firstName').hasError('required')">{{'error.Required' |
            translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.get('firstName').hasError('maxlength')">
            {{'error.MaxName' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'account.LastName' | translate}}</mat-label>
          <input matInput formControlName="lastName" type="text" required>
          <mat-error *ngIf="signupForm.get('lastName').hasError('required')">{{'error.Required' |
            translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.get('lastName').hasError('maxlength')">
            {{'error.MaxLastName' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'general.SelectCountry' | translate}}</mat-label>
          <mat-select formControlName="country">
            <mat-option [value]="option.name" *ngFor="let option of countrys">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'general.SelectProvince' | translate}}</mat-label>
          <mat-select formControlName="province">
            <mat-option [value]="option" *ngFor="let option of provinces$ | async">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label >{{'account.Email' | translate}}</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="signupForm.get('email').hasError('pattern')">{{'error.InvalidEmail' |
            translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.get('email').hasError('maxlength')">
            {{'error.MaxEmail' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label >{{'account.Phone' | translate}}</mat-label>
          <input matInput type="tel" formControlName="phoneNumber">
          <mat-error *ngIf="signupForm.get('phoneNumber').hasError('pattern')">{{'error.InvalidPhone' |
            translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.get('phoneNumber').hasError('maxlength')">
            {{'error.MaxEmail' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'account.NewPassword' | translate}}</mat-label>
          <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"
            placeholder="{{'account.NewPassword' | translate}}" required>
          <a mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
            attr.aria-label="{{'account.HidePassword' | translate}}" [attr.aria-pressed]="hideNewPassword">
            <span *ngIf="hideNewPassword; then templateVisibilityOffIcon else templateVisibilityIcon"></span>
          </a>
          <mat-error *ngIf="signupForm.get('newPassword').hasError('required')">
            {{'error.Required' | translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.get('newPassword').hasError('minlength')">
            {{'error.Minlength' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'account.ConfirmPassword' | translate}}</mat-label>
          <input matInput type="password" formControlName="confirmPassword"
            placeholder="{{'account.ConfirmPassword' | translate}}" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="signupForm.hasError('notSame')">
            {{'account.PasswordDontMatch' | translate}}
          </mat-error>
          <mat-error
            *ngIf="signupForm.get('confirmPassword').hasError('required') && !signupForm.hasError('notSame')">
            {{'error.Required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-button type="submit" class="btn-signup">{{'general.Signup' | translate}}</button>
    </form>
  </div>
</div>

<ng-template #templateVisibilityOffIcon>
  <fa-icon [icon]="faEyeSlash"></fa-icon>
</ng-template>
<ng-template #templateVisibilityIcon>
  <fa-icon [icon]="faEye"></fa-icon>
</ng-template>