/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

//Fonts
$monserrat: "Montserrat", sans-serif;
$font-monserrat: $monserrat;

//Colors
$color-primary: #2ba130;
$color-secondary: #4a90e2;
$color-text-black-1: #4a4a4a;